<p>driver-page works!</p>
<input type="text" [(ngModel)]=startAddressInput #startAddress (input)="onKeyUpStartAddress(startAddress.value)">

<input type="text" [(ngModel)]=endAddressInput #endAddress (input)="onKeyUpEndAddress(endAddress.value)">

<button (click)="onSave($event)">Save</button>
<button (click)="onRouteReset($event)">Reset</button>

<div id="map" #googleMap style="width:100%;height:800px"></div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="routeId">
    <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.routeId}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="startAddress">
    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.startAddress}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="endAddress">
    <mat-header-cell *matHeaderCellDef> Weight</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.endAddress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn">
        <mat-icon aria-label="Delete" (click)="deleteRoute(element) ">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.routeId}"
           (click)="highlight(row) " (mouseover)="highlightRow(row)"></mat-row>
</mat-table>

