tr:hover td {
  background-color: rgba(108, 10, 119, 0.71);
  cursor: default;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.highlight {
  background: #42A948; /* green */
}


.highlightRow{
background: #42A948; /* green */
}



//.table.table-hover tbody tr:hover {
//  background-color: red;
//}
//
//table tr.highlight {
//  background-color: #4CAF50 !important;
//  color: #ffffff;
//}


